@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.app {
  width: 100vw !important;
  height: 90dvh !important;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: transparent;
}

.flower svg {
  position: absolute;
  left: 50%;
  top: -16vh;
  transform: scale(0.72) translateX(-50%) !important;
  transform-origin: left;
}

.wordcloud {
  display: flex;
  flex-direction: column;
  user-select: none;
  transform: scale(0.48);
  transform-origin: bottom;

  svg {
    transform: translateY(16vh);
  }
}

@media screen and (max-width: 480px) {
  .wordcloud {
    svg {
      transform: translateX(-100vw) translateY(-16vh);
    }
  }
}
